tensorflow==2.8.1
tensorflow-probability==0.16.0
scikit-learn>=1.1.2
muon>=0.1.2
gseapy==0.14.0
mlflow>=1.26.1
pandas>=1.4.1
protobuf==3.20.0
plotly>=5.8.2
kaleido>=0.2.1
pyyaml>=6.0
seaborn
ipykernel
jupyterlab
pylint
pytest